body{
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

main{
    /* display: flex; */
}

.daily_link{
    border: 2px solid black;
    background-color: wheat;
}

ol{
    display: block;
    text-decoration: none;
}