body{
    margin: 0;
    background-color: #3d4a55;
    font-family:cursive;
}

a{
    color: #000;
    text-decoration: none;
}

main{
    /* display: flex; */
}

.daily_link{
    
    display: flex;
    height: 60px;
    border: 2px solid black;
    background-color: #499fa4;
    margin: 25px 20% 25px 20%;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 15px 20px #000000a1;
    transition: 250ms;
}

.daily_link:hover{
    margin: 20px 18% 20px 18%;
    height: 65px;
    box-shadow: 20px 20px 20px #000000a1;
    background-color: #269fa5;
}

.daily_link a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size:150%;
}
