body{
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

main{
    /* display: flex; */
}

.daily_link{
    
    display: flex;
    height: 60px;
    border: 2px solid black;
    background-color: wheat;
    margin: 25px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}
