body{
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

main{
    /* display: flex; */
}

.daily_link{
    
    display: flex;
    height: 60px;
    border: 2px solid black;
    background-color: wheat;
    margin: 25px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}

.daily_link a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
